<a href="https://colab.research.google.com/github/Ashyzenab/Micro-credential/blob/main/Ashley_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/codebasics/py/21a0f1001e03c9c58b96009fba738001c8422d3f/ML/6_train_test_split/carprices.csv")
import io
#df = pd.read_csv(io.BytesIO(data_to_load['carprices.csv']))
df.head()

   Mileage  Age(yrs)  Sell Price($)
0    69000         6          18000
1    35000         3          34000
2    57000         5          26100
3    22500         2          40000
4    46000         4          31500

In [2]:
print(10<9)

False

In [3]:
print(9<8)

False

In [4]:
df.shape

(20, 3)

In [5]:
X= df[['Mileage','Sell Price($)']]#dependent input

In [6]:
y= df[['Age(yrs)']] #independent input

In [7]:
X

    Mileage  Sell Price($)
0     69000          18000
1     35000          34000
2     57000          26100
3     22500          40000
4     46000          31500
5     59000          26750
6     52000          32000
7     72000          19300
8     91000          12000
9     67000          22000
10    83000          18700
11    79000          19500
12    59000          26000
13    58780          27500
14    82450          19400
15    25400          35000
16    28000          35500
17    69000          19700
18    87600          12800
19    52000          28200