<a href="https://colab.research.google.com/github/Ashyzenab/Micro-credential/blob/main/Unit_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name: __Ashley Z Sangare__________
Lesson 4 â€“ Looping
1. Create a list that holds 5 data variables.

2. Print out those variables by using a for loop.

3. Modify your for loop to add a message to your for loop.

4. Use a for loop to print even numbers from 1-20.

5. Sort your list in alphabetic order.

6. Print out the first three elements of your list.

7. Create a loop to print the last 2 elements of your list.

In [ ]:
friends = ['Cire', 'witny', 'fadima', 'alison']
print(friends)
print(friends[0])
print(friends[1])
print(friends[2])
print(friends[3])

['Cire', 'witny', 'fadima', 'alison']
Cire
witny
fadima
alison

In [ ]:
friends = [' Cire, witny, fadima, alison']
print(friends)

[' Cire, witny, fadima, alison']

In [ ]:
friends = ['Cire', 'witny','fadima', 'alison']
message = "My best friend is " + friends[0].upper() + "!!!"
print(message)

My best friend is CIRE!!!

In [ ]:
numbers = list(range(0,21, 2))
print(numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
places = ['venice', 'mykonos', 'london', 'malta', 'barcelona']
print(places)

['venice', 'mykonos', 'london', 'malta', 'barcelona']

In [ ]:
print(places)
places.sort()
print(places)

['venice', 'mykonos', 'london', 'malta', 'barcelona']
['barcelona', 'london', 'malta', 'mykonos', 'venice']

In [ ]:
friends = ['Cire', 'witny', 'fadima', 'alison']
print(friends)
print(friends[0])
print(friends[1])
print(friends[2])

['Cire', 'witny', 'fadima', 'alison']
Cire
witny
fadima

In [ ]:
friends = ['Cire', 'witny', 'fadima', 'alison']
print(friends)
print(friends[2])
print(friends[3])

['Cire', 'witny', 'fadima', 'alison']
fadima
alison